*{
    margin: 0;
   padding: 0 ;    
   font-family: Helvetica ,Helvetica,Arial,sans-serif;  
}
body{
    display: flex;
}    
 .menu-bar{
    position: fixed;
    width: 100%;
    height: 20%;
    background: white;
    z-index: 7;
    display: flex;
    justify-content: space-between;                        
 }
 .menu-bar h1{
    color: #00b39b;
    padding: 1.5% 10%;
 }
 .nav-list{
    font-size: 1.2rem;
    padding: 1.9% 10%;
 }
 .nav-list ul{
     list-style: none;             
 }
 .nav-list > ul >li{
     float: left;
     position: relative;
 }
 
 .nav-list ul li a{
     text-decoration: none ;
     display: block;
     color: #ababab;
     padding:0 .7em ;
 }
 .nav-list ul>li:hover > a {
     color:#00b39b;
    
 }
 .welcme{
     display: flex;
     margin: 9% 7% 0;
 }
 .welcme img{
     width: 40%;
 }
 .intrduc h3{
     margin-top: 1%;
    margin-bottom: 4%;
 }
 .intrduc p{
    margin: 1% 9% 0.5% 0;
    text-align: justify;
 }
 .FEATURED{
     margin: 10% ;
 }
 .bloc-img{
    display: flex;
    flex-wrap: wrap;
    margin: 5% 2%;
    justify-content: space-between;
    
 }
 .speciality{
    border-radius: 5%;
    margin-bottom: 3%;
    color: #00b39b;
 }
 .speciality img{
    border-radius: 5%;
 }
 .speciality:hover{
   box-shadow: 5px 2px 5px 2px #999999;
 }
 .serv p{
    padding-top: 2%;
 }
 .Contact-blc{
    margin: 15%;
    width: 100%;
 }
 .Contact {
    display: flex;
    margin: 6%;
 }
 .adress{
    padding: 5%;
    text-align: center;
    line-height: 1.5;
 }
 